services:
  postgres:
    image: postgis/postgis:16-3.4
    # command: "-c log_statement=all -c config_file=/etc/postgresql.conf"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
      # - ./postgresql.conf:/etc/postgresql.conf
    ports:
      - 5432:5432
  dbmate:
    build: db
    environment:
      DATABASE_URL: "postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres?sslmode=disable"
    volumes:
      - ./db/migrations:/db/migrations/
      - ./db/schema.sql:/db/schema.sql
  postgrest:
    image: postgrest/postgrest:v10.1.2
    environment:
      PGRST_DB_URI: "postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres"
      PGRST_JWT_SECRET: ${JWT_SECRET}
      PGRST_DB_ANON_ROLE: web_anon
  wizard:
    build:
      context: wizard
    environment:
      POSTGREST_URL: http://postgrest:3000
      POSTGREST_TOKEN: ${WRITER_TOKEN}
      LOGGING: DEBUG
      TEST_DATA_PATH: /test_data
      DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres?sslmode=disable
      S3_BUCKET: ${S3_BUCKET:-seabird-gps-data}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_S3_ENDPOINT: ${AWS_S3_ENDPOINT}
    tty: true
    stdin_open: true
    volumes:
      - ./wizard/src:/app/src
  queue:
    build:
      context: wizard
    command: uv run tasks.py
    environment:
      POSTGREST_URL: http://postgrest:3000
      POSTGREST_TOKEN: ${WRITER_TOKEN}
      LOGGING: DEBUG
      TEST_DATA_PATH: /test_data
      DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres?sslmode=disable
      S3_BUCKET: ${S3_BUCKET:-seabird-gps-data}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_S3_ENDPOINT: ${AWS_S3_ENDPOINT}
    volumes:
      - ./wizard/src:/app/src
  pgweb:
    image: sosedoff/pgweb:latest
    environment:
      PGWEB_DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres?sslmode=disable
      WAIT_FOR: postgres:5432
  admin:
    build:
      context: admin
      target: dev
    volumes:
      - ./admin/src:/app/src
      - ./admin/public:/app/public
      - ./admin/index.html:/app/index.html
      - ./admin/vite.config.ts:/app/vite.config.ts
      - ./admin/tsconfig.json:/app/tsconfig.json
      - ./admin/tsconfig.app.json:/app/tsconfig.app.json
  nginx:
    build: nginx
    ports:
      - 8000:80
volumes:
  pgdata:

